<!-- Page Heading/Breadcrumbs -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Contact Us
			</h1>
			<ol class="breadcrumb">
				<li><a href="index.html">Home</a>
				</li>
				<li class="active">Contact Us</li>
			</ol>
		</div>
	</div>
<!-- /.row -->

<!-- Content Row -->
	<div class="row">
		<!-- Map Column -->
		<div class="col-md-8">
			<!-- Embedded Google Map -->
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47235.89963094157!2d-83.73768944999999!3d42.2733204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883cb00dd4431f33%3A0xdb09f94686c8b5e2!2sAnn+Arbor%2C+MI!5e0!3m2!1sen!2sus!4v1429590023779" width="100%" height="450" frameborder="0" style="border:0"></iframe>
		</div>
		<!-- Contact Details Column -->
		<div class="col-md-4">
			<h3>Contact Details</h3>
			<p>
				Your Address goes here<br>Ann Arbor, MI 48109<br>
			</p>
			<p><i class="fa fa-phone"></i> 
				<abbr title="Phone">P</abbr>: (123) 456-7890</p>
			<p><i class="fa fa-envelope-o"></i> 
				<abbr title="Email">E</abbr>: <a href="mailto:name@example.com">name@example.com</a>
			</p>
			<p><i class="fa fa-clock-o"></i> 
				<abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
			<ul class="list-unstyled list-inline list-social-icons">
				<li>
					<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
				</li>
			</ul>
		</div>
	</div>
<!-- /.row -->

<!-- Contact Form -->
	<!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
	<div class="row">
		<div class="col-md-8">
			<h3>Send us a Message</h3>
			<form name="contactForm"  ng-submit="send(contactForm.$valid)"  novalidate id="contactForm" style="padding-bottom:20px;">
				<div class="form-group" ng-class="{ 'has-error' : contactForm.name.$invalid && !contactForm.name.$pristine }">
					<label>Full Name:</label>
					<input type="text" ng-model="contact.name" name="name" class="form-control" id="name" required>
					<p ng-show="contactForm.name.$invalid && !contactForm.name.$pristine" class="help-block">Your name is required.</p>
				</div>
				<div class="form-group" >
						<label>Phone Number:</label>
						<input type="tel" ng-model="contact.phone" class="form-control" name="phone" id="phone">
				</div>
				<div class="form-group" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }">
						<label>Email Address:</label>
						<input type="email" ng-model="contact.email" class="form-control" name="email" id="email" required>
						<p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block" >Your email is required</p>
				</div>
				<div class="form-group" style="display:none;">
						<label>Leave this blank:</label>
						<input type="text" ng-model="contact.anti" class="form-control" name="anti" id="anti">
				</div>
				<div class="form-group">
						<label>Message:</label>
						<textarea ng-model="contact.message" rows="10" cols="100" class="form-control" name="message" id="message" maxlength="999" required style="resize:none"></textarea>
						<p ng-show="contactForm.message.$invalid && !contactForm.message.$pristine">A message is required.</p>
				</div>
				<button type="submit" ng-disabled="contactForm.$invalid" class="btn btn-primary">Send Message</button>
			</form>
		</div>

	</div>
<!-- /.row -->