<div class="container box">
    <div class="row">
    </div>
<!-- Features Section -->
    <div class="row">
        <div class="col-md-12">
            <header id="hdrCarousel" class="carousel slide">
                <carousel interval="slideInterval" class="carousel-inner">
                    <slide ng-repeat="slide in slides" active="slide.active" class="carousel-inner-inner">
                        <img class="carouselImg" ng-src="{{slide.image}}">
                        <div class="carousel-caption">
                            <p>{{slide.caption}}</p>
                        </div>
                    </slide>
                </carousel>     
            </header>
            <h2 class="brand-before text-center">
                <small>Welcome to</small>
            </h2>
            <h3 class="brand-name text-center">Randy Cooley<br/> Home Improvement</h3>
            <hr class="tagline-divider" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="page-header ">What We Offer</h2>
            <ul class="frontPageList">
                <li>Complete kitchen models</li>
                <li>Complete bathroom remodels</li>
                <li>Minor kitchen and bathroom upgrades</li>
                <li>Drywall and plaster repairs</li>
                <li>Tile projects</li>
                <li>Interior and Exterior painting</li>
                <li>Floor plan modifications</li>
                <li>Carpentry repairs</li>
                <li>Built in cabinets and carpentry projects</li>
                <li>Porch and deck replacements and repairs</li>
                <li>Basement remodeling projects</li>
                <li>Water damage repairs</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2 class="page-header ">About Randy</h2>
            <p>Randy has over 30 years of experience working on Ann Arbor area houses. He has extensive experience working on homes of all ages and styles, and can offer recommendations to modernize or keep the classic feel of your home. Randy is licensed and insured in the state of Michigan.</p>
            <p>Randy offers many services in interior and exterior home repair and remodeling, specializing in bathroom and kitchen remodels with tile installation. Additionally, carpentry work, plaster and drywall repairs, floor plan alterations, and interior and exterior painting services are offered.</p>
        </div>
    </div>
    <!-- /.row -->
</div>
<script>
    ga('send', 'Home Page');
</script>