<div class="container box">
    <div class="row">    
        <div class="col-lg-12">
            <h1 class="page-header">Sample Project {{project.sortOrder}}</h1>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="item active">
                <img class="img-responsive projImg" ng-src={{project.mainImage.url}} alt="{{project.mainImage.caption}}">
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12">
            <h3>Project Description</h3>
            <p>{{project.description}}</p>
        </div>    
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div ng-show="project.addImages.length"><hr></div>
        </div>
        <div class="col-sm-12 col-xs-12">
            <div deckgrid class="addImgs deckgrid" source="project.addImages">
                <a ng-click="mother.openLightboxModal(card.$index)">
                    <img ng-src={{card.url}} alt="{{card.caption}}" class="img-thumbnail projImg">
                </a>
            </div>
        </div>
    </div>
</div>