<div class="container">
    <div class="row">    
        <div class="col-md-8" style="width:auto;">
            <div class="item active">
                <img class="img-responsive projImg" ng-src={{project.mainImage.url}} alt="{{project.mainImage.caption}}">
            </div>
        </div>
    
        <div class="col-md-4">
            <h3>Project Description</h3>
            <p>{{project.description}}</p>
            <h3>Project Details</h3>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul>
        </div>    
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <hr>
        </div>
        <div class="col-sm-12 col-xs-12">
            <div deckgrid class="addImgs deckgrid" source="project.addImages">
                <a ng-click="mother.openLightboxModal(card.$index)">
                    <img ng-src={{card.url}} alt="{{card.caption}}" class="img-thumbnail projImg">
                </a>
            </div>
        </div>
    </div>
</div>